<header id="top">
  <div class="heading">Sign up</div>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="heading">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %>
    </div>

    <div class="heading">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="heading">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="heading">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</header>
