<header id="top">

  <div class="logo">
    <div class="icon-cloud"></div>
    <div class="icon-music"></div>
  </div>

  <div class="heading">
    <% case controller_name %>
      <% when 'confirmations' %>
        <div class="heading">Resend confirmation instructions</div>
      <% when 'mailer' %>
        <div class="heading">Welcome <%= @email %>!</div>
      <% when 'passwords' %>
        <%= render partial: "devise/passwords/new" %>
      <% when 'registrations' %>
        <%= render partial: "devise/registrations/new" %>
      <% when 'sessions' %>

        <%= render partial: "devise/sessions/new" %>
      <% when 'unlocks' %>
        <div class="heading">Resend unlock instructions</div>
      <% else %>
        <%= render partial: "layouts/controls", locals: {user: current_user}%>
    <% end %>
    
  </div>
  
</header>